/dist
/client
coverage
/gencert
/build
/app.exe
/node_modules
/certs
/!certs/.gitkeep
/.vs
/http-remote-pc-control
/Project1
/app
/cmake-build-debug
/.idea
/packages/arch/pkg
/packages/arch/src
/*.exe
/openapi/openapi.json
/!openapi/index.html
/packages/arch/http-remote-pc-control
/.secrets
/private.key
