name: cache

on:
  push:
    branches: [ main ]

jobs:
  win32:
    runs-on: windows-2022
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
      - name: Restore node_modules cache
        id: cache-node
        # DO not create cache on release, only on master
        uses: actions/cache/restore@v4
        with:
          path: node_modules
          lookup-only: true
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
      - uses: actions/setup-node@v6
        if: steps.cache-node.outputs.cache-hit != 'true'
        with:
          package-manager-cache: false
          node-version: 24
      - name: Install yarn deps
        if: steps.cache-node.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: Upload node_modules cache
        if: steps.cache-node.outputs.cache-hit != 'true'
        # DO not create cache on release, only on master
        uses: actions/cache/save@v4
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
  linux:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Restore node_modules cache
        id: cache-node
        # DO not create cache on release, only on master
        uses: actions/cache/restore@v4
        with:
          path: node_modules
          lookup-only: true
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
      - uses: actions/setup-node@v6
        if: steps.cache-node.outputs.cache-hit != 'true'
        with:
          package-manager-cache: false
          node-version: 24
      - name: Install yarn deps
        if: steps.cache-node.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile

      - name: Upload node_modules cache
        if: steps.cache-node.outputs.cache-hit != 'true'
        # DO not create cache on release, only on master
        uses: actions/cache/save@v4
        with:
          path: |
            node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
      - name: Cache apt packages
        id: ubuntu-cache
        uses: actions/cache@v4
        with:
          path: |
            /var/cache/apt/archives
            /var/lib/apt/lists
          key: ${{ runner.os }}-apt-1
      - name: Install dependencies
        if: steps.ubuntu-cache.outputs.cache-hit != 'true'
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends libx11-dev libxtst-dev libxcb-ewmh-dev libxcb1-dev cmake g++ make libdbus-1-dev xvfb openbox libxkbfile-dev x11-xserver-utils