name: pr

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  openapi:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v6
        with:
          package-manager-cache: false
          node-version: 24
      - name: Restore node_modules cache
        id: cache-node
        # DO not create cache for PRs, since they are not accessible withing different PRs
        # Only restore them
        uses: actions/cache/restore@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
      - name: Install yarn deps
        if: steps.cache-node.outputs.cache-hit != 'true'
        run:  yarn install --frozen-lockfile
      - name: Generate openapi doc
        run: yarn openapi
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v6
        with:
          package-manager-cache: false
          node-version: 24
      - name: Restore node_modules cache
        id: cache-node
        # DO not create cache for PRs, since they are not accessible withing different PRs
        # Only restore them
        uses: actions/cache/restore@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
      - name: Install yarn deps
        if: steps.cache-node.outputs.cache-hit != 'true'
        run:  yarn install --frozen-lockfile
      - name: Check Eslint
        run: yarn lint
  win32:
    runs-on: windows-2022
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v6
        with:
          package-manager-cache: false
          node-version: 24
      - name: Restore node_modules cache
        id: cache-node
        # DO not create cache for PRs, since they are not accessible withing different PRs
        # Only restore them
        uses: actions/cache/restore@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
      - name: Install yarn deps
        if: steps.cache-node.outputs.cache-hit != 'true'
        run:  yarn install --frozen-lockfile
      - name: cmake
        run: yarn cmake
      - name: nest
        run: yarn nest
      - name: esbuild
        run: yarn esbuild
      - name: native
        run: yarn native
      - name: test
        run: yarn test

  linux:
    runs-on: ubuntu-22.04
    permissions: write-all
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache apt packages
        uses: actions/cache/restore@v4
        with:
          path: |
            /var/cache/apt/archives
            /var/lib/apt/lists
          key: ${{ runner.os }}-apt-1

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends libx11-dev libxtst-dev libxcb-ewmh-dev libxcb1-dev cmake g++ make libdbus-1-dev xvfb openbox libxkbfile-dev x11-xserver-utils

      - uses: actions/setup-node@v6
        with:
          package-manager-cache: false
          node-version: 24
      - name: Restore node_modules cache
        id: cache-node
        # DO not create cache for PRs, since they are not accessible withing different PRs
        # Only restore them
        uses: actions/cache/restore@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
      - name: Install yarn deps
        if: steps.cache-node.outputs.cache-hit != 'true'
        run:  yarn install --frozen-lockfile
      - name: cmake
        run: yarn cmake
      - name: nest
        run: yarn nest
      - name: esbuild
        run: yarn esbuild
      - name: native
        run: yarn native
      - name: test
        run: |
          xvfb-run --auto-servernum --server-args="-screen 0 1280x1024x24" sh -c "
          sleep 2
          openbox &
          sleep 2
          # Set up keyboard layout configuration for XKB
          setxkbmap -layout us,de -variant , -option grp:alt_shift_toggle
          # Verify the layout was set
          setxkbmap -print
          yarn test
          "