name: pr

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  swagger:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Restore node_modules cache
        id: cache-node
        # DO not create cache for PRs, since they are not accessible withing different PRs
        # Only restore them
        uses: actions/cache/restore@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
      - name: Install yarn deps
        if: steps.cache-node.outputs.cache-hit != 'true'
        run:  yarn install --frozen-lockfile
      - name: Check Eslint
        run: yarn schema:swagger
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Restore node_modules cache
        id: cache-node
        # DO not create cache for PRs, since they are not accessible withing different PRs
        # Only restore them
        uses: actions/cache/restore@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
      - name: Install yarn deps
        if: steps.cache-node.outputs.cache-hit != 'true'
        run:  yarn install --frozen-lockfile
      - name: Check Eslint
        run: yarn lint
  win32:
    runs-on: windows-2022
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Restore node_modules cache
        id: cache-node
        # DO not create cache for PRs, since they are not accessible withing different PRs
        # Only restore them
        uses: actions/cache/restore@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
      - name: Install yarn deps
        if: steps.cache-node.outputs.cache-hit != 'true'
        run:  yarn install --frozen-lockfile
      - name: Restore pkg cache
        id: cache-pkg
        # DO not create cache on release, only on master
        uses: actions/cache/restore@v4
        with:
          path: ~/.pkg-cache
          key: ${{ runner.os }}-pkg-18
      - name: Build
        run: yarn build:win32

  linux:
    runs-on: ubuntu-22.04
    permissions: write-all
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install dependencies # TODO cache
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends libx11-dev libxtst-dev libxcb-ewmh-dev libxcb1-dev cmake g++ make libdbus-1-dev

      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Restore node_modules cache
        id: cache-node
        # DO not create cache for PRs, since they are not accessible withing different PRs
        # Only restore them
        uses: actions/cache/restore@v4
        with:
          path: node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
      - name: Install yarn deps
        if: steps.cache-node.outputs.cache-hit != 'true'
        run:  yarn install --frozen-lockfile
      - name: Restore pkg cache
        id: cache-pkg
        # DO not create cache on release, only on master
        uses: actions/cache/restore@v4
        with:
          path: ~/.pkg-cache
          key: ${{ runner.os }}-pkg-18
      - name: Build
        run: yarn build:linux
