name: test1

on:
  push:
  workflow_dispatch:

jobs:
  test_deb:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Download linux binary
        run: |
          mkdir -p /tmp/artifacts
          curl -L https://github.com/akoidan/http-remote-pc-control/releases/download/v1.1.2/app.elf -o /tmp/artifacts/app
          chmod +x /tmp/artifacts/app

      - name: Prepare package
        env:
          DEBEMAIL: "deathangel908@gmail.com"
          DEBFULLNAME: "Andrew Koidan"
        run: |
          VERSION=$(jq -r '.version' ./package.json)
          cd packages/debian
          sed -i "s/^Version:.*/Version: ${VERSION}/" ./packages/debian/control
          mkdir -p http-remote-pc-control/debian
          cp control http-remote-pc-control/debian/
          install -D -m 755 /tmp/artifacts/app http-remote-pc-control/usr/bin/http-remote-pc-control
          install -D -m 755 http-remote-pc-control.service http-remote-pc-control/usr/lib/systemd/user/http-remote-pc-control.service
          dpkg-deb --build http-remote-pc-control http-remote-pc-control-amd64.deb

      - name: Upload Release Asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: packages/debian/http-remote-pc-control
          asset_name: app.deb
          asset_content_type: application/vnd.debian.binary-package

